@using BonApp.WebUI.Models
@model List<ProductsDto>

@{
    ViewData["Title"] = "Product";
}
<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    <h2>Danh sách sản phẩm</h2>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.ProductName" />
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text text-danger">@product.Price.ToString() VNĐ</p>
                </div>
            </div>
        </div>
    }
    </div>
</div>

